
DATABASE_URL=postgresql://neondb_owner:npg_Wd3EAhRvGN5w@ep-cool-sky-ahuwe541-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEXTAUTH_URL=http://localhost:3000

MANAGEMENT_EMAILS=sakshi@benchmarkbroker.com
AM_EMAILS=divit@benchmarkbroker.com
NEXTAUTH_SECRET=4RTb15Z21VDAZg0Q8ennDvyWtAv8Y6gE6HwEfT6MrSk


AZURE_AD_CLIENT_ID=d380eb2c-eb11-49ff-a826-31443fb2d573
AZURE_AD_CLIENT_SECRET=60ebdabd-6f4d-4d0b-af73-81186f905bc4
AZURE_AD_TENANT_ID=e2db15e2-2a6d-4e1a-8dcc-576547b32b7f
